fuzzywuzzy==0.18.0
matplotlib==3.8.4
numpy==1.26.4
pandas==2.2.2
ydata-profiling==4.7.0
datacompy==0.7.5
rapidfuzz==3.8.1
recordlinkage==0.16
datasketch==1.6.4
nltk==3.8.1
pandas==2.0.3
jellyfish==1.0.1
